body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.highlighted {
    background: yellowgreen;
    color: black;
}

#btn-clipboard {
    float: right;
    position: relative;
    top: 1.5rem;
    right: 2.0rem;
    padding: .05rem .5rem;
    font-size: 75%;
    cursor: pointer;
}